<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block content%}{% endblock%}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebSiteBLocker</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>

<body>
    <section class="baseheader">
        <nav>
            <a href="index.html"><img class="img-div" src="/static/images/Logoo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/logoutuser">LOGOUT</a></li>
                    <li><a href="/Options">OPTIONS</a></li>
                    <li><a href="/Profile">PROFILE</a></li>
                    <li><a href="/Login">LOGIN</a></li>
                    <li><a href="/Register">SIGN UP</a></li>
                    <li><a href="/Contact">CONTACT</a></li>
                    <li><a href="/About">ABOUT</a></li>

                </ul>
            </div>
        </nav>
        <section class="footer">
            <h4>About us</h4>
            <p>The site is been developed and Handeled by the students of Sanjivani College of Engineering, Kopargaon.

        </section>

</body>

</html>